snippet if
	if ${1:condition} then
		${2:statement}
snippet ife
	if ${1:condition} then
		${2:statement}
	else
		${3:else_statement}
snippet print Print with Integer
	print_int ${1:integer};;${2}
snippet print Print with Float
	print_float ${1:integer};;${2}
snippet print Print with Char
	print_char '${1:char}';;${2}
snippet print Print String
	print_string "${1:string}";;${2}
snippet print Print String with EndLine
	print_endline "${1:string}";;${2}
